# Completely ignore these directories
/CMS_JmlaMain/mysql_data/
/CMS_JmlaMain/joomla_data/
/cluster-project/joomla_data/
/cluster-project/mysql_data/
/cluster-project/mysql-init/
# Maven build files
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd

# Node modules
**/node_modules/
**/dist/

# Environment files
**/.env
**/*.env

# System files
.DS_Store
Thumbs.db