/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 16px;
  color: #333;
}

.hidden {
  display: none !important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  border: 3px solid green;
}
